/* LAYOUT */

// If you are wanting a right-to-left layout, uncomment the following line.
// $direction: right;

/* COLOURS */

$orange: #ff9900;
$bluey: #008AD8;

$primary: $bluey;
$primary_b: #fff;
$primary_text: #fff;

$base_bg: $bluey;
$base_fg: #fff;

$nav_background_colour: $bluey;
$nav_colour: #fff;
$nav_hover_background_colour: $primary;

// Colour used for front page 'how to report a problem' steps
$col_big_numbers: #ccc;

$col_click_map: $bluey;

$front-main-background-desktop: $bluey;
